<head>
    <title>fastify</title>
    <meta http-equiv="refresh" content="600" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div>template/index.ejs  .....</div>
</body>
</html>