<head>
    <title>fastify</title>
    <meta http-equiv="refresh" content="600" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <span>123698</span>
    <%- body %>
</body>

</html>